@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
}
@*
    this is tag of c# for commenting in html 
*@

@*@{
    var className = Model.Customers.Count > 7 ? "popular" : null;
}
<h2 class="@className">@Model.Movie.Name</h2>*@


@if (Model.Customers.Count==0)
{
    <h2>We don't have any  customerDtoDto yet!</h2>

}
else
{
   
        <h1>Customers</h1>
       
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Customer</th>
                       
                    </tr>
                </thead>
                <tbody>
             
                @foreach (var customer in Model.Customers)
                {
                    <tr class="table-default">

                        <td>@customer.Name</td>

                    </tr>
                }


                </tbody>
            </table>

        
        

}




