@model Vidly.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "title";
  
}




@if (Model.Movie.Count == 0)
{
    <h2>We don't have any  movie yet!</h2>

}
else
{

    <h1>Movie</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Movies</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var movie in Model.Movie)
            {
                <tr class="table-default">

                    <td>@movie.Name</td>

                </tr>
            }


        </tbody>
    </table>




}
