@model Vidly.Models.Customer

@{
    ViewBag.Title = Model.Name;
   
}


<h1>@Model.Name</h1>

<ul>
    <li>MembershipType : @Model.MembershipType.Name</li>
    @if (Model.BirthDate.HasValue)
    {
        <li>BirthDate : @Model.BirthDate.Value.ToShortDateString()</li>
    }
    
    

   
</ul>


